In [1]:
from bs4 import BeautifulSoup

In [2]:
from urllib.request import urlopen

In [3]:
import pandas as pd
import numpy as np
from itertools import combinations
from scipy.stats import kendalltau

## Scrap scores from result pages

In [22]:
links = {
    'US': 'http://www.isuresults.com/results/season1718/gpusa2017/CAT001RS.HTM',
    'CA': 'http://www.isuresults.com/results/season1718/gpcan2017/CAT001RS.HTM',
    'FR': 'http://www.isuresults.com/results/season1718/gpfra2017/CAT001RS.HTM',
    'RU': 'http://www.isuresults.com/results/season1718/gprus2017/CAT001RS.HTM',
    'CN': 'http://www.isuresults.com/results/season1718/gpchn2017/CAT001RS.HTM',
    'JP': 'http://www.isuresults.com/results/season1718/gpjpn2017/data0190.htm',
    'EU': 'http://www.isuresults.com/results/season1718/ec2018/CAT001RS.HTM',
    '4C': 'http://www.isuresults.com/results/season1718/fc2018/CAT001RS.HTM',
    'WR': 'http://www.isuresults.com/results/season1718/wc2018/CAT001RS.HTM'
}

In [25]:
def parse_score(link, event_name, year):
    html = urlopen(link)
    bs = BeautifulSoup(html.read(), 'html.parser')

    table_str = str(bs.findAll('table')[0])
    table = pd.read_html(table_str)[0]
    if year == 2017 and event_name == 'JP':
        table = table[[1, 5]].dropna().iloc[1:-1]
    else:
        table = table[[1, 6, 8]].dropna().iloc[2:, :2]
    table.columns = ['name', 'score']
    table['event'] = event_name
    table['score'] = table['score'].astype(float)
    table['year'] = year
    return table

In [33]:
# scores = pd.concat((parse_score(link, event_name, 2017) for event_name, link in links.items()), axis=0)
# scores['name'] = scores['name'].str.replace('\xa0', ' ')
# scores.reset_index(drop=True, inplace=True)
scores = pd.read_csv('scores/2017.csv', names=['name', 'score', 'event', 'year'])

In [35]:
season_scores = scores.loc[scores['event'] != 'WR']
world_scores = scores.loc[scores['event'] == 'WR']

In [36]:
season_avg = season_scores.groupby('name')['score'].mean().sort_values(ascending=False)
season_avg.head()

name
Shoma UNO           290.786667
Yuzuru HANYU        290.770000
Nathan CHEN         284.835000
Javier FERNANDEZ    277.440000
Boyang JIN          270.486667
Name: score, dtype: float64

## Implement kendall tau metrics

In [39]:
season_ranking = list(season_avg.loc[season_avg.index.isin(world_scores['name'])].index)
world_ranking = list(world_scores.loc[world_scores['name'].isin(season_avg.index), 'name'])

In [43]:
season_pairs = set(combinations(season_ranking, 2))
world_pairs = set(combinations(world_ranking, 2))
concordant_pairs = set(season_pairs) & set(world_pairs)
kendall = (2 * len(concordant_pairs) - len(season_pairs)) / len(season_pairs)
kendall

0.5434782608695652

Result agrees with kendalltau from scipy

In [44]:
season_numeric_rank = list(range(len(season_ranking)))
world_numeric_rank = list(season_ranking.index(skater) for skater in world_ranking)

In [45]:
kendalltau(season_numeric_rank, world_numeric_rank)

KendalltauResult(correlation=0.5434782608695652, pvalue=0.00019870245032364205)

RMSE with mean model

In [47]:
season_avg

name
Shoma UNO                290.786667
Yuzuru HANYU             290.770000
Nathan CHEN              284.835000
Javier FERNANDEZ         277.440000
Boyang JIN               270.486667
Mikhail KOLYADA          269.780000
Sergei VORONOV           264.305000
Adam RIPPON              264.220000
Jason BROWN              258.770000
Misha GE                 254.210000
Keiji TANAKA             253.740000
Max AARON                250.780000
Alexei BYCHENKO          245.983333
Dmitri ALIEV             245.706667
Patrick CHAN             245.700000
Alexander SAMARIN        244.333333
Vincent ZHOU             239.435000
Elladj BALDE             238.200000
Han YAN                  236.956667
Deniss VASILJEVS         235.283333
Moris KVITELASHVILI      233.743333
Kazuki TOMONO            231.930000
Nam NGUYEN               230.160000
Nicolas NADEAU           229.430000
Jorik HENDRICKX          227.740000
Michal BREZINA           227.563333
Keegan MESSING           226.775000
Kevin REYNOLDS           224.016667
Kevin AYMOZ              220.430000
Ross MINER               219.620000
                            ...
Liam FIRUS               210.830000
Brendan KERRY            210.755000
Jun Hwan CHA             210.320000
Takahito MURA            208.280000
Phillip HARRIS           208.220000
Alexander MAJOROV        205.950000
Roman SADOVSKY           200.100000
Romain PONSART           199.420000
Hiroaki SATO             199.200000
Paul FENTZ               198.285000
Julian Zhi Jie YEE       197.680000
Slavik HAYRAPETYAN       196.630000
Chih-I TSAO              195.210000
Irakli MAYSURADZE        191.220000
Alexander PETROV         186.020000
Donovan CARRILLO         185.910000
Stephane WALKER          185.410000
Daniel SAMOHIN           183.790000
Valtter VIRTANEN         181.770000
Felipe MONTOYA           181.720000
Geon Hyeong AN           180.260000
Andrew DODDS             177.810000
Sihyeong LEE             177.070000
He ZHANG                 176.200000
Daniel Albert NAURITS    176.100000
Abzal RAKIMGALIEV        175.580000
Sondre ODDVOLL BOE       170.640000
Burak DEMIRBOGA          167.220000
Igor REZNICHENKO         165.650000
Leslie Man Cheuk IP      150.230000
Name: score, Length: 66, dtype: float64

In [63]:
pd.__version__

'0.23.0'

In [61]:
pd.merge(season_scores, season_avg.to_frame(), left_on='name', right_index=True)

                      name  score_x event  year     score_y
0              Nathan CHEN   275.88    US  2017  284.835000
33             Nathan CHEN   293.79    RU  2017  284.835000
1              Adam RIPPON   266.45    US  2017  264.220000
58             Adam RIPPON   261.99    JP  2017  264.220000
2           Sergei VORONOV   257.49    US  2017  264.305000
57          Sergei VORONOV   271.12    JP  2017  264.305000
3               Boyang JIN   246.03    US  2017  270.486667
46              Boyang JIN   264.48    CN  2017  270.486667
92              Boyang JIN   300.95    4C  2017  270.486667
4                  Han YAN   228.33    US  2017  236.956667
49                 Han YAN   254.61    CN  2017  236.956667
101                Han YAN   227.93    4C  2017  236.956667
5               Ross MINER   219.62    US  2017  219.620000
6            Takahito MURA   212.77    US  2017  208.280000
21           Takahito MURA   186.66    CA  2017  208.280000
103          Takahito MURA   225.41    4C  2017  208.280000
7               Liam FIRUS   210.83    US  2017  210.830000
8           Kevin REYNOLDS   204.05    US  2017  224.016667
52          Kevin REYNOLDS   226.50    CN  2017  224.016667
98          Kevin REYNOLDS   241.50    4C  2017  224.016667
9           Roman SADOVSKY   200.10    US  2017  200.100000
10               Shoma UNO   301.10    CA  2017  290.786667
23               Shoma UNO   273.32    FR  2017  290.786667
93               Shoma UNO   297.94    4C  2017  290.786667
11             Jason BROWN   261.14    CA  2017  258.770000
60             Jason BROWN   245.95    JP  2017  258.770000
94             Jason BROWN   269.22    4C  2017  258.770000
12       Alexander SAMARIN   250.06    CA  2017  244.333333
25       Alexander SAMARIN   253.13    FR  2017  244.333333
73       Alexander SAMARIN   229.81    EU  2017  244.333333
..                     ...      ...   ...   ...         ...
95            Keiji TANAKA   260.31    4C  2017  253.740000
54       Alexander MAJOROV   186.04    CN  2017  205.950000
74       Alexander MAJOROV   225.86    EU  2017  205.950000
55        Alexander PETROV   186.02    CN  2017  186.020000
56                He ZHANG   167.58    CN  2017  176.200000
110               He ZHANG   184.82    4C  2017  176.200000
63           Kazuki TOMONO   231.93    JP  2017  231.930000
67            Hiroaki SATO   199.20    JP  2017  199.200000
76            Matteo RIZZO   219.43    EU  2017  219.430000
78       Chafik BESSEGHIER   211.17    EU  2017  211.170000
80          Phillip HARRIS   208.22    EU  2017  208.220000
82      Slavik HAYRAPETYAN   196.63    EU  2017  196.630000
84       Irakli MAYSURADZE   191.22    EU  2017  191.220000
85         Stephane WALKER   185.41    EU  2017  185.410000
86        Valtter VIRTANEN   181.77    EU  2017  181.770000
87          Felipe MONTOYA   181.72    EU  2017  181.720000
88   Daniel Albert NAURITS   176.10    EU  2017  176.100000
89      Sondre ODDVOLL BOE   170.64    EU  2017  170.640000
90         Burak DEMIRBOGA   167.22    EU  2017  167.220000
91        Igor REZNICHENKO   165.65    EU  2017  165.650000
99            Elladj BALDE   238.20    4C  2017  238.200000
105        June Hyoung LEE   211.86    4C  2017  211.860000
107     Julian Zhi Jie YEE   197.68    4C  2017  197.680000
108            Chih-I TSAO   195.21    4C  2017  195.210000
109       Donovan CARRILLO   185.91    4C  2017  185.910000
111         Geon Hyeong AN   180.26    4C  2017  180.260000
112           Andrew DODDS   177.81    4C  2017  177.810000
113           Sihyeong LEE   177.07    4C  2017  177.070000
114      Abzal RAKIMGALIEV   175.58    4C  2017  175.580000
115    Leslie Man Cheuk IP   150.23    4C  2017  150.230000

[116 rows x 5 columns]